<?xml version="1.0"?>
<configuration>
	<system.serviceModel>
		<services>
			<service name="Service.DarPooling" behaviorConfiguration="DarPoolingMEXBehavior">
				<endpoint address="" binding="basicHttpBinding" contract="Communication.IDarPooling"/>
				<endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange"/>
				<host>
					<baseAddresses>
						<add baseAddress="http://localhost:8080/DarPooling"/>
					</baseAddresses>
				</host>
			</service>
		</services>
		<behaviors>
			<serviceBehaviors>
				<behavior name="DarPoolingMEXBehavior">
					<serviceMetadata httpGetEnabled="true"/>
				</behavior>
			</serviceBehaviors>
		</behaviors>
	</system.serviceModel>
	
  <!-- Enable Debug -->
  <system.web>
		<compilation debug="true"/>
  </system.web>
  
</configuration>
